*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar{
  width: 100%;
  padding: 12px;
  background-color: aqua;
  display: flex;
  justify-content: space-around;
  align-items: center;
}